{% extends "layout.html" %}
{% block body %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-md-10 main">
          <h1 class="page-header">Jobs</h1>

          <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
              <div>
                <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle">
                <div class="centered-in-circle white-overlay-large">{{ pending_jobs }}</div>
              </div>
              <h4>Jobs</h4>
              <div class="text-muted">Pending</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <div>
                <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle">
                <div class="centered-in-circle white-overlay-large">{{ running_jobs }}</div>
              </div>
              <h4>Jobs</h4>
              <span class="text-muted">Running</span>
            </div>
          </section>

          <h2>Jobs</h2>
          <div class="table-responsive">
            <table id="jobs-table" class="table table-striped" data-toggle="table" data-striped="true" data-search="true" data-mobile-responsive="true">
              <thead>
                <tr>
                  <th data-sortable="true">Job ID</th>
                  <th data-sortable="true">Command</th>
                  <th data-sortable="true">State</th>
                  <th data-sortable="true">Queue</th>
                  <th data-sortable="true">Submitted</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
{% for job in jobs %}
                <tr>
                  <td>{{ job.job_id }}</td>
                  <td>{{ job.name + ((' ' + ' '.join(job['job_args'])) if ('job_args' in job) else '') }}</td>
                  <td>{{ job.state }}</td>
                  <td>{{ job.queue_name }}</td>
                  <td>{{ job.submission_time }}</td>
                  <td>
                    <a href="cancel_job?jid={{ job.job_id }}" class="btn btn-large btn-danger" data-toggle="confirmation"
                       data-title="Cancel job {{ job.job_id }}?" data-container="body" data-singleton="true">
                      Cancel
                    </a>
                  </td>
                </tr>
{% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{ static_url('jobs.js') }}"></script>
{% endblock %}
