<!-- HTML content of launch instance table -->
<div class="row">
    <div class="col-sm-8 col-md-19">
        <table id="instance-types-table" class="table table-striped" data-striped="true">
            <thead>
                <tr>
                    <th data-field="state" data-radio="true"></th>
                    <th data-field="configuration">Configuration</th>
                    <th data-field="instance_type">Type</th>
                    <th data-field="on_demand">Cost</th>
                    <th data-field="current">Spot</th>
                </tr>
            </thead>
            <tbody>
{% for price in prices %}
                <tr>
                    <td>
                        <input type="radio" name="launchConfigGroup" {% if price.first %}checked{% endif %}>
                    </td>
                    <td>{{ price.configuration }}</td>
                    <td>{{ price.instance_type }}</td>
                    <td>${{ price.on_demand }}</td>
                    <td>${{ price.current }}</td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
{% if zones %}
    <div class="col-sm-4 col-md-2">
        <table id="zones-table" class="table table-striped" data-striped="true">
            <thead>
                <tr>
                    <th data-field="state" data-radio="true"></th>
                    <th data-field="availability_zone">Zone</th>
                </tr>
            </thead>
            <tbody>
{% for zone in zones %}
                <tr>
                    <td>
                        <input type="radio" name="zoneGroup" {% if zone.first %}checked{% endif %}>
                    </td>
                    <td>{{ zone.zone_id }}</td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
</div>
<div class="row">
    <div class="col-sm-8 col-md-10">
        <button type="button" class="btn btn-success btn-launch">Launch</button>
        <button type="button" class="btn btn-success btn-spot">Spot Bid</button>
        <button type="button" class="btn btn-danger btn-cancel-option">Cancel</button>
    </div>
</div>
