<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ static_url('favicon.ico') }}">

    <title>Obervatory</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ static_url('bootstrap.min.css') }}" rel="stylesheet">

   <!-- Bootstrap table CSS -->
   <link href="{{ static_url('bootstrap-table.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ static_url('dashboard.css') }}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{{ static_url('ie10-viewport-bug-workaround.js') }}"></script>
    <script src="{{ static_url('bootstrap-table.min.js') }}"></script>
    <script src="{{ static_url('bootstrap-confirmation.min.js') }}"></script>
  </head>

  <body>
    {% block body %}{% endblock %}
  </body>
</html>
