<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ static_url('favicon.ico') }}">

    <title>Observatory</title>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.js"></script>
    <!-- Bootstrap core -->
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Bootstrap tables -->
    <script type="text/javascript" src="{{ static_url('bootstrap-table.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url('bootstrap-table.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ static_url('dashboard.css') }}">

    <!-- Bootstrap Confirmation -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script type="text/javascript" src="{{ static_url('bootstrap-confirmation.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('ie10-viewport-bug-workaround.js') }}"></script>
  </head>

  <body>
      {% block body %}{% endblock %}
  </body>
</html>
